
#our-courses {
  .card {
    border: 0.5px solid grey;
    border-radius: 10px !important;
    height: auto;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;

    ion-card-header {
      --background: linear-gradient(rgb(0 0 0 / 0%) 100%,
          rgb(255 255 255 / 0%) 100%),
        url(https://images.unsplash.com/photo-1634693798046-b00e706c3076?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
      height: 160px;
    }

    ion-item {
      padding: 0px 0;
      --background: linear-gradient(rgb(0 0 0 / 0%) 82%, rgb(255 255 255 / 0%) 100%);
    }
  }
}

.progressbar {
  --padding-start: 0px;
  --inner-padding-end: 0px;

  ion-progress-bar {
    margin: 0px 10px;
    border-radius: 10px;
  }
}